http:
  routers:
    to-old-kindelia-org:
      rule: "Host(`old.{{ domain_base }}`)"
      service: old-kindelia-org
      entryPoints:
        - web
    to-old-kindelia-org-secure:
      rule: "Host(`old.{{ domain_base }}`)"
      service: old-kindelia-org
      entryPoints:
        - web-secure
      tls:
        certResolver: lets-encrypt
        domains:
          - main: "old.{{ domain_base }}"
    to-kindelia-org:
      service: kindelia-org
      rule: "PathPrefix(`/`)"
      entryPoints:
        - web
      middlewares:
        - alts-redirect
    to-kindelia-org-secure:
      service: kindelia-org
      rule: "Host(`{{ domain_base }}`)"
      # rule: "Host(`*`)"
      entryPoints:
        - web-secure
      middlewares:
        - alts-redirect
      tls:
        certResolver: lets-encrypt
        domains:
          - main: "{{ domain_base }}"
            sans:
              - "kindelia.io"
              - "kdl.li"

  middlewares:
    # https-redirect:
    #   redirectScheme:
    #     scheme: https
    #     permanent: true
    alts-redirect:
      redirectRegex:
        regex: "^https?://(.+?)/(.*)"
        replacement: "https://{{ domain_base }}/${2}"
        permanent: true

  services:
    old-kindelia-org:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:7170"
    kindelia-org:
      loadBalancer:
        servers:
          {# - url: "http://host.docker.internal:8888" #}
          - url: "http://web-app"
